---
permalink: /{{ locale }}/index.html
---

{% layout "layouts/base.liquid" %}

{% assign metaTitle = site[locale].metaTitle %}
{% assign metaDescription = site[locale].metaDescription %}
{% assign metaImage = site[locale].metaImage %}

{% block content %}
<header class="c-header">
    {% bgImage "src/assets/img/hero_image.jpg", "MSQ", "100vw", "c-header__background" %}
    <div class="c-header__content">
        <nav class="c-header__nav  c-mainnav l-container" aria-label="main navigation">
            <p class="c-mainnav__link">
                <a href="/" class="c-header__logo">{% render "svg/logo.svg" %}</a>
            </p>
            <ul class="o-list-bare c-mainnav__items c-mainnav-items">
                {% for item in site.links %}
                    {% assign activeClass = "" %}
                    {% assign activeAria = "" %}
                    {% if item.locale == locale %}
                        {% assign activeClass = "is-active" %}
                        {% assign activeAria = 'aria-current="page"' %}
                    {% endif %}
                    <li>
                        <a class="c-mainnav-items__link c-mainnav-link {{ activeClass }}"
                           href="/{{ item.locale }}" {{ activeAria }}>
                            {{ item.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <figure class="c-header__quote c-header-quote">
            <blockquote class="c-header-quote__quote">
                <q>{{ hero.quote }}</q>
            </blockquote>
            <cite class="c-header-quote__author">{{ hero.author }}</cite>
        </figure>
    </div>
</header>
<section class="c-about">
    <div class="c-about__content l-container">
        <div class="c-about__intro">
            <h1 class="h2">{{ title }}</h1>
            <div>{{ content }}</div>
        </div>
        <h2 class="c-about__members-title">{{ t.members }}</h2>
        <section class="c-about__members c-members">
            <ul class="c-members-list c-members__list">
                {% for member in members %}
                    <li class="c-members-list__item">
                        <h4 class="c-members-list__name">{{ member.name }}</h4>
                        <span>{{ member.instrument }}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <div class="c-about__image">
            {% image "src/assets/img/intro_image.jpg", "MSQ", "(min-width: 30em) 50vw, 100vw" %}
        </div>
    </div>
</section>

<section class="c-videos l-container">
    <div class="c-videos__content">
        <h2 class="h2">{{ t.videos }}</h2>
        <ul class="o-list-bare">
            {% for video in videos %}
                <li>
                    <h4>{{ video.title | translate: locale }}</h4>
                    <h5>{{ video.subtitle | translate: locale }}</h5>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="c-videos__video">
        {% render "partials/video.liquid" %}
    </div>
</section>

<section class="c-gallery">
    <div class="c-gallery__background l-container"></div>
    <h2 class="c-gallery__title h2 l-container">{{ t.gallery }}</h2>
    <div class="js-swiper c-gallery__list c-gallery-list">
        <ul class="o-list-bare swiper-wrapper c-gallery-list__list">
            {%- for photo in gallery -%}
                <li class="c-gallery-list__item swiper-slide">
                    {% image photo.url, photo.alt, "(min-width: 30em) 50vw, 100vw", 'c-gallery-list__picture' %}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="c-gallery-pagination c-gallery__pagination l-container">
        <button class="js-swiper-button-prev c-gallery-pagination__btn">
            <img src="/assets/svg/right_arrow.svg" alt="prev slide"/>
        </button>
        <button class="js-swiper-button-next c-gallery-pagination__btn">
            <img src="/assets/svg/right_arrow.svg" alt="next slide"/>
        </button>
    </div>
</section>


<section class="c-repertoires l-container">
    <div class="c-repertoires__wrapper">
        <h2 class="h2 c-repertoires__title">{{ t.repertoires }}</h2>
        <select class="c-repertoires__select js-repertoire-select u-hidden" id=""></select>
    </div>
    <ul class="o-list-bare c-repertoires__list">
        {% for item in collections.repertoires %}
            {% if item.data.locale == locale %}
                {% render 'partials/repertoire.liquid', repertoire: item.data %}
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="c-intersection">
    {% bgImage "src/assets/img/intersection_image.jpg", "MSQ walking in park", "100vw" %}
</section>

<section class="l-container">
    <div class="c-agenda">
        <h2 class="h2 c-agenda__title">{{ t.see_us_live }}</h2>
        <div class="c-agenda__content">
            <div class="c-agenda__subtitle-wrapper">
                <h3 class="c-agenda__subtitle">{{ t.past_events }}</h3>
            </div>
            <ul class="o-list-bare">
                {% for concert in past_concerts %}
                    {% render 'partials/concert.liquid', concert: concert %}
                {% endfor %}
            </ul>
            <div class="c-agenda__subtitle-wrapper">
                <h3 class="c-agenda__subtitle">{{ t.future_events }}</h3>
            </div>
            <ul class="o-list-bare c-agenda__past">
                {% for concert in future_concerts %}
                    {% render 'partials/concert.liquid', concert: concert %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>


<section class="l-container">
    <div class="c-contact">
        <h2 class="h2">{{ t.get_in_touch }}</h2>
        <ul class="c-contact__links o-list-bare">
            <li class="c-contact__link"><a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a></li>
            {% for contact in site.contact.contacts %}
                <li class="c-contact__link">
                    <a href="tel:{{ contact.phone }}">
                        {{ contact.phone }}
                    </a>
                    <span>{{ contact.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<footer class="l-container">
    <div class="c-footer">
        <div class="c-footer__copyrights c-copyrights">
            <h5 class="c-copyrights__title">Copyrights</h5>
            <ul class="o-list-bare">
                {% for copyright in copyrights %}
                    <li class="u-margin-bottom-base">
                        <h6 class="u-margin-all-none c-copyrights__subtitle">{{ copyright.name }}</h6>
                        <ul class="o-list-bare">
                        {% for link in copyright.links %}
                            <li>&copy; <a href="{{ link.link }}">{{ link.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="c-footer__img">
            {% image "src/assets/img/footer_image.jpg", "MSQ walking in park", "(min-width: 30em) 50vw, 100vw" %}
        </div>
        <div class="c-footer__social">
            <a href="facebook.com">{% render "svg/facebook_logo.svg" %}</a>
        </div>
    </div>
</footer>
{% endblock %}